<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
	<!-- Define targets to write to -->
	<targets>
		<!-- Write to console -->
		<target xsi:type="Console" name="console"
				layout="${longdate} [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}" />

		<!-- Write to file - DATE WISE -->
		<target xsi:type="File" name="file"
				fileName="logs/DataRippleAI-${shortdate}.log"
				layout="${longdate} [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}"
				archiveFileName="logs/archive/DataRippleAI-${shortdate}-{#}.log"
				archiveEvery="Day"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Write to debug output -->
		<target xsi:type="Debug" name="debug"
				layout="${longdate} [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<!-- All logs go to console and file -->
		<logger name="*" minlevel="Trace" writeTo="console,file" />

		<!-- Debug output for development -->
		<logger name="*" minlevel="Debug" writeTo="debug" />
	</rules>
</nlog>